<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
<h1>Welcome to the Home Page!</h1>
<div th:if="${username != null}">
  <p>Здравствуйте, <span th:text="${username}"></span>!</p>
</div>
<a href="/login">Login</a>
<a href="/register">Register</a>
<h2>Создать команду</h2>
<a href="/comands/create">Создать новую команду</a>

<h2>Ваши команды</h2>
<ul>
  <th:block th:each="comand : ${userComands}">
    <li>
      <a th:href="@{/comands/{id}(id=${comand.id})}" th:text="${comand.title}">Команда</a>
    </li>
  </th:block>
</ul>
<a href="/notifications">Уведомления</a> <a href="/chat">Перейти в чат</a>


<h2>Задачи как работодатель</h2>
<table>
  <thead>
  <tr>
    <th>Название</th>
    <th>Описание</th>
    <th>Статус</th>
    <th>Действия</th> <!-- Новый столбец для действий -->
  </tr>
  </thead>
  <tbody>
  <tr th:each="task : ${employerTasks}">
    <td th:text="${task.titleTasks}"></td>
    <td th:text="${task.textTasks}"></td>
    <td th:text="${task.statusTasks}"></td>
    <td>
      <a th:href="@{/tasks/{id}/edit(id=${task.id})}">Редактировать</a>
      <form th:action="@{/tasks/{id}/delete(id=${task.id})}" method="post" style="display:inline;">
        <input type="hidden" name="userId" th:value="${user_id}"> <!-- ID текущего пользователя -->
        <button type="submit">Удалить</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<h2>Задачи как работник</h2>
<table>
  <thead>
  <tr>
    <th>Название</th>
    <th>Описание</th>
    <th>Статус</th>
    <th>Изменить статус</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="task : ${workmanTasks}">
    <td th:text="${task.titleTasks}"></td>
    <td th:text="${task.textTasks}"></td>
    <td th:text="${task.statusTasks}"></td>
    <td>
      <form th:action="@{/tasks/{id}/updateStatus(id=${task.id})}" method="post">
        <select name="newStatus">
          <option value="NEW" th:selected="${task.statusTasks == 'NEW'}">Новая</option>
          <option value="IN_PROGRESS" th:selected="${task.statusTasks == 'IN_PROGRESS'}">В процессе</option>
          <option value="ACCEPTED" th:selected="${task.statusTasks == 'ACCEPTED'}">Принята</option>
          <option value="COMPLETED" th:selected="${task.statusTasks == 'COMPLETED'}">Завершена</option>
        </select>
        <button type="submit">Изменить статус</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>