<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
<h1>Welcome to the Home Page!</h1>
<div th:if="${username != null}">
  <p>Здравствуйте, <span th:text="${username}"></span>!</p>
</div>
<a href="/login">Login</a>
<a href="/register">Register</a>
<h2>Создать команду</h2>
<a href="/comands/create">Создать новую команду</a>

<h2>Ваши команды</h2>
<ul>
  <th:block th:each="comand : ${userComands}">
    <li>
      <a th:href="@{/comands/{id}(id=${comand.id})}" th:text="${comand.title}">Команда</a>
    </li>
  </th:block>
</ul>

<h2>Задачи как работодатель</h2>
<table>
  <thead>
  <tr>
    <th>Название</th>
    <th>Описание</th>
    <th>Статус</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="task : ${employerTasks}">
    <td th:text="${task.titleTasks}"></td>
    <td th:text="${task.textTasks}"></td>
    <td th:text="${task.statusTasks}"></td>
  </tr>
  </tbody>
</table>

<h2>Задачи как работник</h2>
<table>
  <thead>
  <tr>
    <th>Название</th>
    <th>Описание</th>
    <th>Статус</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="task : ${workmanTasks}">
    <td th:text="${task.titleTasks}"></td>
    <td th:text="${task.textTasks}"></td>
    <td th:text="${task.statusTasks}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>